div(class='class-card')
    div(class='header-bar')
        div(class='class-card-heading') {{classWithFocus.code}}
    div()
        button(class='circle-button')
    div(class='class-card-name'){{classWithFocus.name}}
    div(class='class-card-faculty'){{classWithFocus.faculty}}

