html()
    head()
        title() musteee
        meta(charset="utf-8")
        link(rel='stylesheet/less', href='/stylesheets/login-style.less')
        link(href='http://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css')
        script(src="/javascripts/vendor/less/dist/less.js" type="text/javascript")
    body()
        div()
            input(type='text' class='username' placeholder='username')
            br()
            input(type='password' class='password' placeholder='password')
            br()
            button(class='submit-button') SUBMIT
        
