@western: #4d2383;
@primary-color: #4d2383;
@mid: #406289;
@secondary-color: #33a08f;  
@card-bg: white;
@main-bg: #fff;
@circle-button: #8abade;
@circle-button-hover: #79b1db;
@top-margin: 60px;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;
            }

body{
    
}

.gradient{
    background: #466368;
    background: -webkit-linear-gradient(@primary-color, @mid,  @secondary-color);
    background:    -moz-linear-gradient(@primary-color, @mid, @secondary-color);
    background:         linear-gradient(@primary-color, @mid, @secondary-color); /*chrome*/
}

.center{
    height: 100%;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

input{
    width: 50%;
    height: 7%;
    border-style: none;
    border-bottom-style: solid;
    border-color: white;
    outline: none;
    background-color: rgba(0,0,0,0);
    font-size: 1.5em;
    padding: 5px;
    color: white;
    font-family: 'Roboto';
    font-weight: 300;
    margin-top: 1%;
}

.username{

}

.password{

}

button{
    margin-top: 6%;
    font-family: 'Roboto';
    font-size: 1.5em;
    border-style: none;
    border-radius: 4px;
    padding: 6px;
    padding-left: 25px;
    padding-right: 25px;
    outline: none;
    -webkit-transition: margin-top 0.2s, box-shadow 0.2s, width 1s, height 1s; /* Chrome, Safari, Opera */
    transition: margin-top 0.2s, box-shadow 0.2s, width 1s, height 1s;
}

.submit-button{
    margin-left: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.sign-up-button{
    background-color: rgba(0,0,0,0);
    color: white;
}

.submit-button:hover{
    cursor: pointer;
    /*margin-top: 25px;*/
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.sign-up-button:hover{
    cursor: pointer;
}

.title{
    font-family: 'Roboto';
    font-size: 4em;
    color: white;
    display: inline;
    margin-bottom: 3%;
}

#horse{
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: 1%;
}

.header{
    margin-top: 15%;
}

.buttons{
    text-align: center;
}

